html * {
   font-size: 12pt;
   color: #444;
   font-family: 'Merriweather', serif;
   font-weight: 300;
}

html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #3182bd;
}

a:hover {
    text-decoration: underline;
}

/* Headers */
h1, h2, h3 {
    margin: 0px 0px 0px 0px;
}

.banner {
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1 {
    font-family: inherit;
    color: #222;
    font-size: 300%;
    padding: 10px 0px 10px 0px;
    font-weight: 700;
}

h2 {
    font-family: inherit;
    color: #333;
    font-size: 150%;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
}

h2 a {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* Body */
.container {
    text-align: center;
}

.poem {
    margin: 0;
    display: inline-block;
    text-align: left;
}

.poem .line {
    line-height: 140%;
}

.poem .bottom {
    margin-bottom: 16px;
}

.endnote {
    margin: 16px 0px 16px 0px;
    font-style: italic;
    font-weight: 300;
}

/* Footer */
.footer div {
    padding: 4px 0px 4px 0px;
}
